* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

em,
i {
    font-style: normal;
}

a,
a:hover {
    text-decoration: none;
    color: #ccc;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?lrs8eq');
    src: url('../fonts/icomoon.eot?lrs8eq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?lrs8eq') format('truetype'), url('../fonts/icomoon.woff?lrs8eq') format('woff'), url('../fonts/icomoon.svg?lrs8eq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}