<div class="container-fluid box" style="background-color:#337AB7;margin-bottom:0px;" id="footer">
    <div class="row-fluid">
        <div class="main itembox">
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    <li class="text-center"><a href="">科普教育</a></li>
                    <li class="text-center"><a href="">Copyright © phpems.net  2015-2016</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
 <script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/jquery-ui.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/all.fine-uploader.min.js"></script>
<script src="/admin/js/ckeditor/ckeditor.js"></script>
<!-- <script src="/admin/js/pe.master.js"></script> -->
<script src="/admin/js/common.js"></script>