{include file="admin_header.html" title="后台-考试系统"}
<style>
	a.cur{
		color: #23527c!important;
	    background-color: #eee!important;
	    border-color: #ddd!important;
    }
</style>
{include file="admin_top.html"}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="main">
			<div class="col-xs-2 leftmenu">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="?ctl=user&act=studentLists">学员管理</a>
					</li>
					<li class="list-group-item active">
						<a href="?ctl=user&act=teacherLists">教师管理</a>
					</li>
					<li class="list-group-item ">
						<a href="?ctl=user&act=adminLists">管理员管理</a>
					</li>
				</ul>
			</div>

			<div id="datacontent">
				<div class="box itembox" style="margin-bottom:0px;border-bottom:1px solid #CCCCCC;">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li><a href="#">用户管理</a></li>
							<li class="active">教师管理</li>
						</ol>
					</div>
				</div>

				<div class="box itembox" style="padding-top:10px;margin-bottom:0px;">
					<h4 class="title" style="padding:10px;">
						学员列表
						<span class="pull-right">
							<a data-toggle="dropdown" class="btn btn-primary dropdown-toggle" href="#">添加教师&nbsp;<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li><a href="?ctl=user&act=addTeacherPage">单个教师</a></li>
<!-- 								<li><a href="/student/batadd">从excel文件导入</a></li> -->
							</ul>
						</span>
					</h4>
					<table class="table table-hover table-bordered">
						<thead>
							<tr class="info">
								<th>ID</th>
								<th>姓名</th>
								<th>教师账号</th>
								<th>最后登录IP</th>
								<th>最后登录时间</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
							{foreach $row as $k => $v}
							<tr>
								<td>{$v.uid}</td>
								<td>{$v.name}</td>
								<td>{$v.account}</td>
								<td>{if $v.ip == ''}暂未登录{else}{$v.ip}{/if}</td>
								<td>{if $v.last_login == ''}暂未登录{else}{$v.last_login}{/if}</td>
								<td>
									<div class="btn-group">
										<a class="btn" href="?ctl=user&act=editTeacherPage&uid={$v.uid}" title="编辑资料"><em class="glyphicon glyphicon-edit"></em></a>
										<a class="btn  delconfirm" data-uid="{$v.uid}" data-gourl="?ctl=user&act=teacherLists"><em class="glyphicon glyphicon-remove"></em></a>
									</div>
								</td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
			<ul class="pagination" style="text-align: center;display: block;">
				{$showpage}
			</ul>
		</div>
	</div>
</div>

{include file="admin_footer.html"}
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-confirmation/1.0.7/bootstrap-confirmation.min.js"></script>
<script> 
$(function () { 
	$('.delconfirm').confirmation({

		animation: true, 
		placement: "top", 
		title: "确定要删除吗？", 
		btnOkLabel: '确定', 
		btnCancelLabel: '取消', 
		onConfirm: function () { 
			console.log(this.options.uid); 
			var uid = this.options.uid;
			var gourl = this.options.gourl;

			$.post("/index.php?ctl=user&act=delTeacher", { uid:uid,gourl:gourl },
			function(data){
				console.log(data);
		    	window.location.href=data.gourl;
			}, "json");
			
		}, 
		onCancel: function () { 
			//alert("点击了取消"); 
		} 
	}) 
});
</script> 
</body>

</html>